extends ../../layouts/main
include ../../mixins/pagination.pug

block content
    .container.my-5
        h2.text-center.mb-4 Lịch Sử Nồng Độ Khí Gas
        table.table.table-bordered.mt-3
            thead
                tr
                    th Mã lịch sử
                    th Nồng độ khí gas (ppm)
                    th Trạng thái cảnh báo
                    th Thời gian
            tbody
                each history in gasHistory
                    tr
                        td= history._id
                        td= history.gasLevel
                        td= history.alertStatus
                        td= new Date(history.timestamp).toLocaleString()

    +pagination(pagination)