//- Sidebar
ul.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion(id="accordionSidebar")
    
    //- Sidebar - Brand
    //- Sidebar - Brand
    a.sidebar-brand.d-flex.align-items-center.justify-content-center(href="/dashboard")
        div.sidebar-brand-icon.rotate-n-15
            //- Replace the icon with a gas-related one, such as a gas mask or alert icon
            i.fas.fa-gas-pump
        div.sidebar-brand-text.mx-3 GAS ALERT

            //- sup 2

    //- Divider
    hr.sidebar-divider.my-0

    //- Nav Item - Dashboard
    li.nav-item.active
        a.nav-link(href="/dashboard")
            i.fas.fa-fw.fa-tachometer-alt
            span Tổng quan
    
    //- Nav Item - History
    li.nav-item
        a.nav-link(href="/history")
            i.fas.fa-fw.fa-history
            span Lịch sử

    //- Nav Item - Device Management
    li.nav-item
        a.nav-link(href="/device-management")
            i.fas.fa-fw.fa-cogs 
            span Quản lý Thiết bị

    //- Nav Item - User Management
    li.nav-item
        a.nav-link(href="/user-management")
            i.fas.fa-fw.fa-users  
            span Quản lý Người dùng


    //- Divider
    hr.sidebar-divider

    //- Heading
    div.sidebar-heading Tài khoản
    //- Nav Item - Pages Collapse Menu
    li.nav-item
        a.nav-link.collapsed(href="#", data-toggle="collapse", data-target="#collapseTwo", aria-expanded="true", aria-controls="collapseTwo")
            i.fas.fa-fw.fa-cog
            span Tài khoản của bạn
        div#collapseTwo.collapse(aria-labelledby="headingTwo", data-parent="#accordionSidebar")
            div.bg-white.py-2.collapse-inner.rounded
                h6.collapse-header Menu:
                a.collapse-item(href="/user/info") Thông tin tài khoản
                a.collapse-item(href="/user/change-password") Đổi mật khẩu
                a.collapse-item(href="/user/logout") Đăng xuất
   
    //- Divider
    hr.sidebar-divider.d-none.d-md-block

    //- Sidebar Toggler (Sidebar)
    div.text-center.d-none.d-md-inline
        button.rounded-circle.border-0(id="sidebarToggle")

    //- Sidebar Message
    div.sidebar-card.d-none.d-lg-flex
        img.sidebar-card-illustration.mb-2(src="https://img.icons8.com/ios-filled/100/fa314a/gas-mask.png", alt="Gas Alert Icon")
        //- img.sidebar-card-illustration.mb-2(src="/img/gas-warning-icon.svg", alt="Gas Alert Icon")
        p.text-center.mb-2
            strong Hệ thống Cảnh Báo Khí Gas
            |  luôn theo dõi nồng độ khí gas để bảo vệ an toàn cho bạn và gia đình.
        p.text-center.mb-2 Cập nhật ngay thông tin của bạn để nhận thông báo tức thì khi có rò rỉ khí gas.
        a.btn.btn-warning.btn-sm(href="/user/info") Cập nhật Thông tin
